<% layout('layout/boilerplate')%>
<h1>Welcome to AquaManager!</h1>

<div class="container">
  <img
    src="images/Fish bowl-bro.svg"
    alt="Fish in a bowl"
    class="container-fluid"
  />
  <h3>Current Parameters:</h3>
  <hr />
  <% if(currStatus.maintainance){ %>
  <table>
    <tr>
      <td>
        <h4>Maintainance Mode:</h4>
      </td>
      <td>
        <div class="rounded-pill" style="background-color: lightgreen">On</div>
      </td>
    </tr>
  </table>
  <% } %>
  <table class="table table-dark table-striped-columns table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Parameter</th>
        <th scope="col">Current Status</th>
        <th scope="col">Start Timing</th>
        <th scope="col">End Timing</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Light</td>
        <% if (currStatus.light){ %>
        <td>
          <div
            class="rounded-pill text-dark"
            style="background-color: lightgreen"
          >
            On
          </div>
        </td>
        <% }else{ %>
        <td>
          <div
            class="rounded-pill text-dark"
            style="background-color: lightcoral"
          >
            Off
          </div>
        </td>
        <% } %>
        <td><%= config.light.start %></td>
        <td><%= config.light.end %></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Filter</td>
        <% if (currStatus.filter){ %>
        <td>
          <div
            class="rounded-pill text-dark"
            style="background-color: lightgreen"
          >
            On
          </div>
        </td>
        <% }else{ %>
        <td>
          <div
            class="rounded-pill text-dark"
            style="background-color: lightcoral"
          >
            Off
          </div>
        </td>
        <% } %>
        <td><%= config.filter.start %></td>
        <td><%= config.filter.end %></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>CO2</td>
        <% if
          (currStatus.co2){
          %>
        <td>
          <div
            class="rounded-pill text-dark"
            style="background-color: lightgreen"
          >
            On
          </div>
        </td>
        <% }else{ %>
        <td>
          <div
            class="rounded-pill text-dark"
            style="background-color: lightcoral"
          >
            Off
          </div>
        </td>
        <% } %>
        <td>
          <%= config.co2.start
            %>
        </td>
        <td>
          <%= config.co2.end
            %>
        </td>
      </tr>
    </tbody>
  </table>
  <% if(config.filter.manual
    ||
    config.light.manual
    ||
    config.co2.manual){
    %>
  <h3>Manual Override:</h3>
  <hr />
  <table class="table table-dark table-striped-columns table-hover">
    <thead>
      <th>#</th>
      <th>Parameter</th>
      <th>Status</th>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Light</td>
        <% if(config.light.manual){ %>
        <td>
          <div
            class="rounded-pill text-dark"
            style="background-color: lightcoral"
          >
            Manual
          </div>
        </td>
        <% }else{ %>
        <td>
          <div
            class="rounded-pill text-dark"
            style="background-color: lightgreen"
          >
            Auto
          </div>
        </td>
        <% } %>
      </tr>
      <tr>
        <td>2</td>
        <td>Filter</td>
        <% if(config.filter.manual){ %>
        <td>
          <div
            class="rounded-pill text-dark"
            style="background-color: lightcoral"
          >
            Manual
          </div>
        </td>
        <% }else{ %>
        <td>
          <div
            class="rounded-pill text-dark"
            style="background-color: lightgreen"
          >
            Auto
          </div>
        </td>
        <% } %>
      </tr>
      <tr>
        <td>3</td>
        <td>CO2</td>
        <% if(config.co2.manual){
          %>
        <td>
          <div
            class="rounded-pill text-dark"
            style="background-color: lightcoral"
          >
            Manual
          </div>
        </td>
        <% }else{ %>
        <td>
          <div
            class="rounded-pill text-dark"
            style="background-color: lightgreen"
          >
            Auto
          </div>
        </td>
        <% } %>
      </tr>
    </tbody>
  </table>
  <h3>Enable Automatic mode:</h3>
  <hr />
  <a href="/manual?q=auto" class="btn btn-success">Automatic mode</a>
  <% } %>
</div>
